<div class="col-md-10 offset-md-1">
  <div *ngIf="movie">
    <div class="bg-light">
      <div class="row justify-content-center">
        <span class="font-weight-bold rateBox_rate mt-3 mr-2"><i class="fa fa-star"></i> {{movie.rating | number : '1.2-2'}}</span>
      </div>
      <div class="row justify-content-center mb-3">
        <span *ngIf="voteMessage">{{voteMessage}}</span>
      </div>
      <div class="row justify-content-center mt-3">
        <span *ngIf="voteInfo">{{voteInfo}}</span>
      </div>
      <div class="d-sm-none">
        <div class="row nav nav-pills justify-content-center mt-3">
          <div class="nav-item" *ngFor="let r of totalRatings | slice:0:5; let i=index">
            <a class="col rate mx-1" [ngClass]="{'rate-picked': i+1==votePicked}" (mouseover)="voteInfo=voteInfoList[i]"
               (mouseout)="voteInfo=voteInfoList[10]" (click)="vote(i+1, movie.id)">{{i+1}}</a>
          </div>
        </div>
        <div class="row nav nav-pills justify-content-center mt-3">
          <div class="nav-item" *ngFor="let r of totalRatings | slice:5; let i=index">
            <a class="col rate mx-1" [ngClass]="{'rate-picked': i+6==votePicked}" (mouseover)="voteInfo=voteInfoList[i+5]"
               (mouseout)="voteInfo=voteInfoList[10]" (click)="vote(i+6, movie.id)">{{i+6}}</a>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block">
        <div class="row nav nav-pills justify-content-center mt-3">
          <div class="nav-item" *ngFor="let r of totalRatings; let i=index">
            <a class="col rate mx-1" [ngClass]="{'rate-picked': i+1==votePicked}" (mouseover)="voteInfo=voteInfoList[i+1]"
               (mouseout)="voteInfo=voteInfoList[10]" (click)="vote(i+1, movie.id)">{{i+1}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header">
      <h1>{{movie.title}} {{movie.releaseDate | date: 'mediumDate'}}</h1>
      <h3>Genres:</h3>
        <p *ngFor="let genre of movie.genres, let isLast=last">
          {{genre.genre}}{{isLast ? '' : ', '}}
        </p>
    </div>
    <div class="card-body">
      <h3>Director:</h3>
      <p>{{movie.director}}</p>
      <h3>Release date: {{movie.releaseDate}}</h3>
      <h3>Description: </h3>
      <p>{{movie.description}}</p>
      <h3>Actors: </h3>
      <ul>
        <li *ngFor="let actor of movie.actors">
          {{actor.firstName}} {{actor.lastName}} {{actor.birthday}}
        </li>
      </ul>
      <h3>Made in: </h3>
      <ul>
        <li *ngFor="let country of movie.countries">
          {{country.name}}
        </li>
      </ul>
    </div>
  </div>
</div>

