<div class="container col-md-8 offset-md-2">
  <h2 class="text-center">Add movie</h2>
  <div class="alert alert-danger my-2" *ngIf="errorMessages.length > 0">
    <ul>
      <li *ngFor="let message of errorMessages">
        {{message}}
      </li>
    </ul>
  </div>
  <div>
    <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" formControlName="title" id="title" class="form-control" required>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['title'].hasError('required') && addMovieForm.controls['title'].touched">Title is required</div>
      </div>
      <div class="form-group">
        <label for="length">Movie length (in minutes)</label>
        <input type="number" formControlName="length" id="length" class="form-control" required>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['length'].hasError('required') && addMovieForm.controls['length'].touched">Movie length is required</div>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['length'].hasError('min') && addMovieForm.controls['length'].touched">Length cannot be less than 1 minute</div>
      </div>
      <div class="form-group">
        <label for="releaseDate">Release date: (MM-DD-YYYY)</label>
        <input type="text" formControlName="releaseDate" id="releaseDate" class="form-control" required>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['releaseDate'].hasError('required') && addMovieForm.controls['releaseDate'].touched">Release date is required</div>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['releaseDate'].hasError('validateDate') && addMovieForm.controls['releaseDate'].touched && addMovieForm.get('releaseDate').value.length > 0">Valid pattern is MM-DD-YYYY</div>
      </div>
      <div class="form-group">
        <label for="country">Countries:</label>
        <div formArrayName="countries"
        *ngFor="let country of addMovieForm.get('countries').controls; let i = index;">
          <div class="mt-2">
            <div class="item" [formGroupName]="i">
              <input type="text" formControlName="name" id="country" class="form-control" required>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['countries'].hasError('required') && addMovieForm.controls['countries'].touched">Country is required</div>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['countries'].hasError('validateCountryName') && addMovieForm.controls['countries'].touched && addMovieForm.get('country').value.length > 0">Country is invalid</div>
            </div>
            <div class="item ml-2"  *ngIf="addMovieForm.get('countries').controls.length > 1">
              <span><a (click)="removeCountry(i)"><i class="fa fa-minus"></i> Remove</a></span>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
        <span><a (click)="addCountry()"><i class="fa fa-plus"></i>Add country</a></span>
      </div>
      <div class="form-group">
        <label for="director">Director:</label>
        <input type="text" formControlName="director" id="director" class="form-control" required>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['director'].hasError('required') && addMovieForm.controls['director'].touched">Director is required</div>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['director'].hasError('validatePeopleNames') && addMovieForm.controls['director'].touched && addMovieForm.get('director').value.length > 0">Director's name cannot contains numbers</div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" formControlName="description" id="description" class="form-control" required>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['description'].hasError('required') && addMovieForm.controls['description'].touched">Description is required</div>
        <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['description'].hasError('maxlength') && addMovieForm.controls['description'].touched">Description cannot be longer than 700 characters</div>
      </div>
      <div class="form-group">
        <label for="actorsBox">Actors:</label>
        <div id="actorsBox" formArrayName="actors"
             *ngFor="let actor of addMovieForm.get('actors').controls; let i = index;">
          <div [formGroupName]="i">
            <label for="firstName">First name:</label>
            <div class="mb-2">
              <input type="text" formControlName="firstName" id="firstName" class="form-control" required>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['actors'].hasError('validatePeopleNames') && addMovieForm.controls['actors'].touched">First name is required</div>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['actors'].hasError('validatePeopleNames') && addMovieForm.controls['actors'].touched">First name cannot contains numbers</div>
            </div>
            <label for="lastName">Last name:</label>
            <div class="mb-2">
              <input type="text" formControlName="lastName" id="lastName" class="form-control" required>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['actors'].hasError('validatePeopleNames') && addMovieForm.controls['actors'].touched">Last name is required</div>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['actors'].hasError('validatePeopleNames') && addMovieForm.controls['actors'].touched">Last name cannot contains numbers</div>
            </div>
            <label for="birthday">Birthday: (MM-DD-YYYY)</label>
            <div class="mb-2">
              <input type="text" formControlName="birthday" id="birthday" class="form-control" required>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['actors'].hasError('required') && addMovieForm.controls['actors'].touched">Release date is required</div>
              <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['actors'].hasError('validateDate') && addMovieForm.controls['actors'].touched && addMovieForm.get('birthday').value.length > 0">Valid pattern is MM-DD-YYYY</div>
            </div>
          </div>
          <div *ngIf="addMovieForm.get('actors').controls.length > 1">
            <span><a (click)="removeActor(i)"><i class="fa fa-minus"></i>Remove</a></span>
          </div>
        </div>
        <span><a (click)="addActor()"><i class="fa fa-plus"></i>Add actor</a></span>
      </div>
      <div class="form-group">
        <label for="genre">Genres:</label>
          <div formArrayName="genres"
               *ngFor="let genre of addMovieForm.get('genres').controls; let i = index;">
            <div class="mt-2">
              <div class="item" [formGroupName]="i">
                <input type="text" formControlName="genre" id="genre" class="form-control" required>
                <div class="invalid-feedback d-block" *ngIf="addMovieForm.controls['genres'].hasError('required') && addMovieForm.controls['genres'].touched">Genre is required</div>
              </div>
              <div class="item ml-2" *ngIf="addMovieForm.get('genres').controls.length > 1">
                <span><a (click)="removeGenre(i)"><i class="fa fa-minus"></i> Remove</a></span>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
        <span><a (click)="addGenre()"><i class="fa fa-plus"></i>Add genre</a></span>
      </div>
      <button class="btn btn-success" [disabled]="addMovieForm.invalid" type="submit">Add movie</button>
    </form>
  </div>
</div>
