@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.rateBox_rate{
  font-size: 1.5rem;
}
.rate{
  border-radius: 10px;
}
.rate:hover, .rate-picked {
  cursor: pointer;
  background-color: orange;
  color: black;
}
