<div class="row">
  <div class="col-md-6 offset-sm-3">
    <h2>Login</h2>
    <div class="alert alert-danger my-2" *ngIf="invalidLogin">
      <div>Invalid credentials.</div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" formControlName="username" id="username">
        <div class="invalid-feedback d-block" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd">
        <div class="invalid-feedback d-block" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
