<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <i class="fa fa-file-movie-o text-white"></i>
    <span class="text-white"> Movie List</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="navigation switch">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="mainmenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/movies">Movies</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item active">
        <a class="nav-link" routerLink="/movies/add">Add movie</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLogged">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Sign in</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/register">Sign up</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLogged">
      <li class="nav-item active">
        <a class="nav-link" id="logout-nav" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>
