<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Register</h2>
    <div class="alert alert-danger my-2" *ngIf="errorMessages.length > 0">
      <ul>
        <li *ngFor="let message of errorMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" formControlName="username" id="username">
        <div class="invalid-feedback d-block" *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">Username is required</div>
        <div class="invalid-feedback d-block" *ngIf="registerForm.get('username').errors && registerForm.get('username').errors.usernameTaken">User with this username already exists</div>
        <div class="invalid-feedback d-block" *ngIf="(registerForm.controls['username'].hasError('minlength') || registerForm.controls['username'].hasError('maxlength')) && registerForm.controls['username'].touched">Username must be between 4 and 12 characters long</div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email" id="email">
        <div class="invalid-feedback d-block" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">Email is required</div>
        <div class="invalid-feedback d-block" *ngIf="registerForm.controls['email'].hasError('validateEmailPattern') && registerForm.controls['email'].touched && registerForm.get('email').value.length > 0">Email is invalid</div>
        <div class="invalid-feedback d-block" *ngIf="registerForm.get('email').errors && registerForm.get('email').errors.emailTaken">User with this email already exists</div>
      </div>
      <div [formGroup]="passwordForm">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" formControlName="password" id="password">
          <div class="invalid-feedback d-block" *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.controls['password'].touched">Password is required</div>
          <div class="invalid-feedback d-block" *ngIf="(passwordForm.controls['password'].hasError('minlength') || passwordForm.controls['password'].hasError('maxlength')) && passwordForm.controls['password'].touched">Password must be between 4 and 12 characters long</div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password:</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
          <div class="invalid-feedback d-block" *ngIf="passwordForm.controls['confirmPassword'].hasError('required') && passwordForm.controls['confirmPassword'].touched">You have to confirm your password</div>
          <div class="invalid-feedback d-block" *ngIf="passwordForm.errors?.notSame && passwordForm.get('confirmPassword').value.length > 0">Passwords are not the same</div>
        </div>
        <button class="btn btn-success" [disabled]="registerForm.invalid || passwordForm.invalid">Sign up</button>
      </div>
    </form>
  </div>
</div>
