<div class="col-sm-8 offset-sm-2">
  <div class="row justify-content-center">
    <button class="btn btn-white border-light my-2 text-center" data-toggle="collapse" type="button" data-target="#filters" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-expanded="false" aria-controls="filters">
      Filter results <i *ngIf="!isCollapsed" class="fa fa-chevron-circle-up"></i><i *ngIf="isCollapsed" class="fa fa-chevron-circle-down"></i>
    </button>
  </div>
  <div class="collapse bg-light" id="filters" [ngbCollapse]="isCollapsed">
    <h2 class="text-center">Minimum rating</h2>
    <div class="d-sm-none">
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let r of totalRatings | slice:0:5; let i=index">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ minRate: i+1, page: 1}"
             [ngClass]="{'active': minRate==i+1}" (click)="getAllMoviesFilter()" queryParamsHandling="merge">{{i+1}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let r of totalRatings | slice:5; let i=index">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ minRate: i+6, page: 1}"
             [ngClass]="{'active': minRate==i+6}" (click)="getAllMoviesFilter()" queryParamsHandling="merge">{{i+6}}</a>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block">
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let r of totalRatings; let i=index">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ minRate: i+1, page: 1}"
             [ngClass]="{'active': minRate==i+1}" (click)="getAllMoviesFilter()" queryParamsHandling="merge">{{i+1}}</a>
        </div>
      </div>
    </div>
    <div class="row nav nav-pills justify-content-center">
      <div class="nav-item">
        <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ minRate: null, page: 1}"
           (click)="getAllMoviesFilter()" queryParamsHandling="merge">&#10006;</a>
      </div>
    </div>
    <h2 class="text-center">Genres</h2>
    <div class="d-sm-none">
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:0:3">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:3:6">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:6:9">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:9:12">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:12">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block d-lg-none">
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:0:4">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:4:8">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:8">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:0:6">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
      <div class="row nav nav-pills justify-content-center">
        <div class="nav-item" *ngFor="let g of genresList | slice:6">
          <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: g, page: 1}"
             [ngClass]="{'active': genre==g}" queryParamsHandling="merge">{{g}}</a>
        </div>
      </div>
    </div>
    <div class="row nav nav-pills justify-content-center">
      <div class="nav-item">
        <a class="col nav-link" [routerLink]="['/movies']" [queryParams]="{ genres: null, page: 1}"
           (click)="getAllMoviesFilter()" queryParamsHandling="merge">&#10006;</a>
      </div>
    </div>
  </div>
  <div *ngIf="movies">
    <div class="border border-light my-2" *ngFor="let movie of movies">
      <div class="row">
        <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2">
          <img src="https://iowafood.coop/wp-content/uploads/2012/11/sample-150x200.jpg">
        </div>
        <div class="col-6 col-sm-7 col-md-8 col-lg-9 col-xl-10">
          <a [routerLink]="['/movies', movie.title, movie.id]">
            <h4 class="mb-0">{{movie.title}} {{movie.releaseDate | date: '(yyy)'}}</h4>
          </a>
          <span><i class="fa fa-clock-o"></i> {{movie.length}} min</span>
          <div class="my-2">
            <span class="font-weight-bold rateBox_rate mr-2"><i class="fa fa-star"></i> {{movie.rating | number : '1.2-2'}}</span>
            <span> {{movie.votes.length}} votes</span>
          </div>
          <div class="row pt-2">
            <div class="col">
              <span class="font-weight-bold">genres: </span>
              <span *ngFor="let genre of movie.genres, let isLast=last">
          {{genre.genre}}{{isLast ? '' : ', '}}
          </span>
            </div>
            <div class="col">
              <span class="font-weight-bold">countries: </span>
              <span *ngFor="let country of movie.countries, let isLast=last">
          {{country.name}}{{isLast ? '' : ', '}}
          </span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col d-none d-lg-block">
              <span class="font-weight-bold">director: </span>
              <span>{{movie.director}}</span>
            </div>
            <div class="col d-none d-lg-block">
              <span class="font-weight-bold">actors: </span>
              <span *ngFor="let actor of movie.actors, let isLast=last">
                {{actor.firstName}} {{ actor.lastName}}{{isLast ? '' : ','}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav nav-pills justify-content-center my-3">
      <div class="nav-item" *ngIf="page>1">
        <a class="nav-link" (click)="getAllMoviesFilter()"
           [routerLink]="['/movies']" [queryParams]="{page: page-1, size: size}" queryParamsHandling="merge"><i
          class="fa fa-chevron-circle-left icon"></i></a>
      </div>
      <div class="nav-item" *ngFor="let p of totalPages; let i=index">
        <a class="nav-link" (click)="getAllMoviesFilter()"
           [ngClass]="{'active': i==page-1}" [routerLink]="['/movies']" [queryParams]="{page: i+1, size: size}"
           queryParamsHandling="merge">{{i+1}}</a>
      </div>
      <div class="nav-item" *ngIf="page<totalPages.length">
        <a class="nav-link" (click)="getAllMoviesFilter()"
           [routerLink]="['/movies']" [queryParams]="{page: getNextPage(), size: size}" queryParamsHandling="merge"><i
          class="fa fa-chevron-circle-right icon"></i></a>
      </div>
    </div>
  </div>
</div>
